<main id="ide">
    <div id="editor">
        <form action="">
            <div class="form-control" focus-input focus="true"
                 ng-class="{open: ContributeCtr.MutationForm.title.active}"
                 ng-click="ContributeCtr.MutationForm.resetActive(); ContributeCtr.MutationForm.title.active = true">
                <label>
                    <i class="fa fa-header fa-fw"></i>
                    <span>{{ContributeCtr.MutationForm.title.label}}</span>
                </label>

                <div class="input-holder">
                    <input type="text" ng-model="ContributeCtr.MutationForm.title.value"
                           placeholder="{{ContributeCtr.MutationForm.title.description}}"/>
                </div>
            </div>

            <div class="form-control"
                 ng-class="{open: ContributeCtr.MutationForm.umiType.active}"
                 ng-click="ContributeCtr.MutationForm.resetActive(); ContributeCtr.MutationForm.umiType.active = true">
                <label>
                    <i class="fa fa-map-signs fa-fw"></i>
                    <span>{{ContributeCtr.MutationForm.umiType.label}}</span>
                </label>

                <div class="input-holder">
                    <select name="">
                        <option value="">{{ContributeCtr.MutationForm.umiType.description}}</option>
                        <option value="">Choose 2</option>
                    </select>
                </div>
            </div>

            <div class="form-control content" focus-input ng-click="ContributeCtr.MutationForm.resetActive()">
                <label>
                    <i class="fa fa-file-text-o fa-fw"></i>
                    <span>{{ContributeCtr.MutationForm.content.label}}</span>
                </label>

                <textarea name="" id="" cols="30" rows="10" ng-model="ContributeCtr.MutationForm.content.value"
                          placeholder="{{ContributeCtr.MutationForm.content.description}}"></textarea>
            </div>

            <div class="form-control" focus-input
                 ng-controller="SearchController as SearchCtr"
                 ng-class="{open: ContributeCtr.MutationForm.prerequisiteDefinitionIds.active}"
                 ng-click="ContributeCtr.MutationForm.resetActive(); ContributeCtr.MutationForm.prerequisiteDefinitionIds.active = true">
                <label>
                    <i class="fa fa-code-fork fa-fw"></i>
                    <span>{{ContributeCtr.MutationForm.prerequisiteDefinitionIds.label}}</span>
                </label>

                <div class="input-holder">
                    <input type="text"
                           ng-model="SearchCtr.term"
                           ng-keydown="SearchCtr.trigger($event, ContributeCtr.MutationForm.prerequisiteDefinitionIds.update)"
                           placeholder="{{ContributeCtr.MutationForm.prerequisiteDefinitionIds.description}}"/>
                </div>

                <ul class="is-hidden search-results">
                    <li ng-repeat="result in SearchCtr.searchResults.data"
                        ng-class="{active: $index == SearchCtr.searchResults.selected}">
                        <strong>{{result.title}}</strong>
                        <small class="label">{{result.umiType}}</small>
                        <i class="fa fa-eye"></i>
                    </li>
                </ul>
            </div>

            <div class="form-control" focus-input
                 ng-controller="SearchController as SearchCtr"
                 ng-class="{open: ContributeCtr.MutationForm.seeAlsoIds.active}"
                 ng-click="ContributeCtr.MutationForm.resetActive(); ContributeCtr.MutationForm.seeAlsoIds.active = true">
                <label>
                    <i class="fa fa-code-fork fa-fw"></i>
                    <span>{{ContributeCtr.MutationForm.seeAlsoIds.label}}</span>
                </label>

                <div class="input-holder">
                    <input ng-model="SearchCtr.term"
                           ng-keydown="SearchCtr.trigger($event, ContributeCtr.MutationForm.seeAlsoIds.update)"
                           type="text" placeholder="{{ContributeCtr.MutationForm.seeAlsoIds.description}}"/>
                </div>

                <ul class="is-hidden search-results">
                    <li ng-repeat="result in SearchCtr.searchResults.data"
                        ng-class="{active: $index == SearchCtr.searchResults.selected}">
                        <strong>{{result.title}}</strong>
                        <small class="label">{{result.umiType}}</small>
                        <i class="fa fa-eye"></i>
                    </li>
                </ul>
            </div>

            <div class="form-control" focus-input
                 ng-class="{open: ContributeCtr.MutationForm.tags.active}"
                 ng-click="ContributeCtr.MutationForm.resetActive(); ContributeCtr.MutationForm.tags.active = true">
                <label>
                    <i class="fa fa-tag fa-fw"></i>
                    <span>{{ContributeCtr.MutationForm.tags.label}}</span>
                </label>

                <div class="input-holder">
                    <input type="text"
                           data-ng-model="value"
                           ng-change="ContributeCtr.MutationForm.tags.parseCsv(value)"
                           placeholder="{{ContributeCtr.MutationForm.tags.description}}"/>
                </div>
            </div>
        </form>

        <div class="editor">

        </div>
    </div>
    <div id="preview" style="white-space: pre-line">
        Title: {{ContributeCtr.MutationForm.title.value}}

        Category: {{ContributeCtr.MutationForm.umiType.value}}

        Content: {{ContributeCtr.MutationForm.content.value}}

        PrerequisiteDefinitions:
        <span style="display: block;"
              ng-repeat="(id, title) in ContributeCtr.MutationForm.prerequisiteDefinitionIds.value">{{title}}</span>

        See Also:
        <span style="display: block;"
              ng-repeat="(id, title) in ContributeCtr.MutationForm.seeAlsoIds.value">{{title}}</span>

        Tags: {{ContributeCtr.MutationForm.tags.value}}
    </div>
</main>

<nav id="contribute-controls">
    <div class="status">
        <div class="indicator parsing">
            <i class="fa fa-refresh fa-spin"></i>
            <span class="icon-label">Parsing</span>
        </div>
        <div class="indicator lock">
            <i class="fa fa-lock"></i>
            <span class="icon-label">Locked</span>
        </div>

        <div class="indicator parsed active">
            <i class="fa fa-check"></i>
            <span class="icon-label">Parsed</span>
        </div>
        <div class="indicator error-parsing is-hidden">
            <i class="fa fa-times"></i>
            <span class="icon-label">Error Parsing</span>
        </div>
    </div>

    <div class="save">
        <span class="icon-label">Submit</span>
        <i class="fa fa-angle-right"></i>
    </div>
</nav>