<nav class="progress">
	<ul id="nav" class="container-narrow flex center-vertically align-left">
		<li ng-repeat="key in stepsKeys" ng-click="goToStep(key)"><span id="{{ key }}" class="flex center-vertically" ng-class="{active : stepsKeys[activeStep] == key}">{{ steps[key] }}</span></li>
	</ul>
</nav>

<article>
	<form name="formEditor" ng-show="activeStep == 0">
		<header class="container-narrow">
			<h2>Content for <strong>{{ createUmiForm.title }}</strong></h2>

			<p>To ensure every contribution is as relevant and valuable as possible, we feature automatic
				checker and validator, as well as interactive guidance to assist you with the process.</p>
		</header>

		<section class="controls flex">
			<ul class="flex flex-1 center-vertically">
				<li ng-show="parsed"><span id="parsed-valid" class="flex center-vertically" ng-class="{valid : parsed.valid, invalid : !parsed.valid}">{{ parsed.message }}</span></li>
				<li ng-show="parsingContent"><span id="parsing" class="flex center-vertically">Parsing</span></li>
			</ul>

			<ul class="flex flex-1 center-vertically">
				<li class="align-right" ng-show="timeScale"><span id="time-scale" class="flex center-vertically">{{ timeScale }}</span></li>
				<li><span id="locked" class="flex center-vertically">Locked</span></li>
			</ul>
		</section>

		<div class="flex latex-content-editor">
			<!--Content-->
			<div class="flex-1">
				<textarea ng-focus="showInstructions = 'content'"
						  ng-model="createUmiForm.content" name="content"
						  placeholder="Start typing here..." required ng-change="latexToHtml()"></textarea>
			</div>

			<div class="flex-1">
				<main class="latex-content-preview" om-bind="parsedContent || 'Parsed content will be displayed here'"></main>
			</div>

			<!--Error messages for LaTeX Content-->
			<div class="error-messages full-screen" ng-show="showInstructions == 'content'">
				<div class="alert error" ng-show="formEditor.content.$error.required">{{ formErrorMessages.required }}</div>
			</div>
		</div>

		<div class="container-narrow">
			<label class="flex button-holder">
				<button class="button default" ng-click="activeStep = activeStep - 1">Back</button>
				<button name="next" class="button primary align-right" ng-disabled="!formEditor.$valid || editorError" ng-click="activeStep = activeStep + 1">Proceed to <strong>{{ steps[stepsKeys[activeStep + 1]] }}</strong></button>
			</label>
		</div>
	</form>

	<div class="container-narrow" ng-show="activeStep == 1">
		<header>
			<h2>Preview: <strong>{{ createUmiForm.title }}</strong></h2>
			<p>This contribution will be published under {{ omUser.email }}.</p>
		</header>

		<div class="umi fade-in">
			<div class="content-holder">
				<div class="title flex center-vertically">
					<span class="label">{{ createUmiForm.umiType.label }}</span>
					<strong class="flex-1">{{ createUmiForm.title }}</strong>
				</div>
				<article>
					<p om-bind="parsedContent"></p>
				</article>
			</div>
		</div>

		<label class="flex button-holder">
			<button class="button default" ng-click="activeStep = activeStep - 1">Back</button>
			<button name="publish" class="button primary align-right" ng-click="editUmi()"><strong>Publish</strong> your contribution</button>
		</label>
	</div>

	</form>
</article>