<!DOCTYPE html>
<html ng-app="openmaths" ng-controller="GlobalController">
<head lang="en">
	<meta charset="UTF-8">
	<title>openmaths</title>
	<link rel="stylesheet" href="/public/css/loading-bar.css"/>
</head>
<body ng-class="bodyClass">

<a ui-sref="dive">Dive</a>
<a ui-sref="board">Board</a>
<a ui-sref="contribute">Contribute</a>

<div ui-view></div>

<!--<h1>{{greeting}}</h1>-->
<!--<input type="text" ng-model="greeting"/>-->
<!--<p ng-click="changeName('Test')">Change name to Test</p>-->

<script src="/app/dist/js/vendor.js"></script>
<script src="/app/dist/js/app.js"></script>
</body>
</html>