<form tabindex="0">
	<onboarding-indicator ng-hide="onboarding.dive" class="top" section="dive"></onboarding-indicator>

	<input type="text" placeholder="Dive into..." class="unstyled" autofocus
		   ng-change="nSearch(true)"
		   ng-keydown="nNavigate($event, true)"
		   ng-model="searchTerm">

	<article id="try" class="search-umi-results" ng-show="searchResults">
		<div class="item"
			 ng-class="{active : $index == searchResults.currentSelection}"
			 ng-repeat="result in searchResults.data"
			 ng-click="nGetUmi($index)">
			<aside class="title">{{ result.title }}</aside>
			<aside class="label">{{ result.umiType }}</aside>
		</div>
	</article>
</form>