<form ng-submit="getUmi(searchResults.data[searchResults.currentSelection].uriFriendlyTitle)" tabindex="0">
	<input type="text" placeholder="Dive into..." name="umiTitle" ng-model="umiTitle" ng-change="search('umiTitle', false, true)" ng-keydown="searchResultsNavigate(searchResults, $event, ['getUmi'])" class="unstyled" autofocus />
	<article class="search-umi-results" ng-show="searchResults.data">
		<div class="item" ng-repeat="result in searchResults.data" ng-class="{active : $index == searchResults.currentSelection}" ng-click="getUmi(result.uriFriendlyTitle)">
			<aside class="title">{{ result.title }}</aside>
			<aside class="label">{{ result.umiType }}</aside>
		</div>
	</article>
</form>