<nav id="manage-grid" class="flex">
	<ul class="flex align-left unstyled">
		<li class="add" ng-click="manageGrid('row', 'add')">Add row</li>
		<li class="remove" ng-click="manageGrid('row', 'remove')">Remove row</li>
	</ul>
	<div class="flex flex-1 center-horizontally">
		<div class="toggle-holder flex center-vertically">
			<onboarding-hotspot ng-hide="onboarding.manageBoard" class="left" section="manageBoard"></onboarding-hotspot>

			<div class="toggle flex" ng-click="setUI('remember', 'boardLayout')" ng-class="{active : uiSettings.remember.boardLayout}"></div>
			<small>Remember this <strong>{{ rows }}&times;{{ columns }}</strong> layout</small>
		</div>
	</div>
	<ul class="flex align-right unstyled">
		<li class="add" href="#" ng-click="manageGrid('column', 'add')">Add column</li>
		<li class="remove" href="#" ng-click="manageGrid('column', 'remove')">Remove column</li>
	</ul>
</nav>

<div class="row" ng-repeat="row in grid" id="row-{{ $index }}">
	<resize-row class="resize-row" min-height="220" row-index="{{ $index }}">
		<onboarding-hotspot ng-hide="onboarding.resizeBoardRows || $index !== 0" class="top" section="resizeBoardRows"></onboarding-hotspot>
	</resize-row>
	<div class="column flex-1" ng-repeat="data in row">
		<!--Unit of Mathematical Information-->
		<div class="umi {{ data.targetClasses }}"
			 ng-class="{'fade-in' : fadeInUmi}"
			 ng-hide="!data.htmlContent">
			<div class="voting flex center-horizontally">
				<ul class="flex align-left unstyled">
					<li class="flex center-vertically edit no-label" ng-click=""></li>
					<!--<li class="flex center-vertically approve no-label" ng-click=""></li>-->
				</ul>

				<ul class="flex unstyled">
					<li class="flex center-vertically upvote no-label " ng-click=""></li>
					<li class="flex center-vertically no-icon not-clickable" ng-click="">17</li>
					<li class="flex center-vertically downvote no-label " ng-click=""></li>
				</ul>

				<ul class="flex align-right unstyled">
					<li class="flex center-vertically expand no-label" ng-click=""></li>
				</ul>
			</div>
			<div class="content-holder">
				<div class="title flex center-vertically">
					<!--@FIXME This should only be displayed if a user is signed in!!-->
					<!--@FIXME ng-show="data.author == omUser.email"-->
					<span class="label">{{ data.umi.umiType }}</span>
					<strong class="flex-1">{{ data.umi.title.title }}</strong>
				</div>
				<article stop-event>
					<!--@FIXME THIS IS A BUG! Should be htmlContent rather than latexContent-->
					<!--<p om-bind="data.latexContent"></p>-->
					<p><a expand-umi label="integer" call="position" data="data"></a></p>
				</article>
			</div>
		</div>

	</div>
</div>