<nav id="manage-grid" class="flex">
	<ul class="flex align-left unstyled">
		<li class="add" ng-click="manageGrid('row', 'add')">Add row</li>
		<li class="remove" ng-click="manageGrid('row', 'remove')">Remove row</li>
	</ul>
	<div class="flex flex-1 center-horizontally">
		<div class="toggle-holder flex center-vertically">
			<onboarding-hotspot ng-hide="onboarding.manageBoard" class="left" section="manageBoard"></onboarding-hotspot>

			<div class="toggle flex" ng-click="setUI('remember', 'boardLayout')" ng-class="{active : uiSettings.remember.boardLayout}"></div>
			<small>Remember this <strong>{{ rows }}&times;{{ columns }}</strong> layout</small>
		</div>
	</div>
	<ul class="flex align-right unstyled">
		<li class="add" href="#" ng-click="manageGrid('column', 'add')">Add column</li>
		<li class="remove" href="#" ng-click="manageGrid('column', 'remove')">Remove column</li>
	</ul>
</nav>

<div class="row" ng-repeat="row in grid" id="row-{{ $index }}" style="min-height: 220px">
	<resize-row class="resize-row" min-height="220" row-index="{{ $index }}">
		<onboarding-hotspot ng-hide="onboarding.resizeBoard || $index !== 1" class="top" section="resizeBoard"></onboarding-hotspot>
	</resize-row>
	<div class="column flex-1 column-{{ $index }}" ng-repeat="data in row">
		<resize-column class="resize-column" min-width="{{ 100 / columns | number:0 }}" columns="{{ columns }}" column-index="{{ $index }}"></resize-column>
		<!--Unit of Mathematical Information-->
		<div class="umi fade-in {{ data.targetClasses }}"
			 ng-class="{'fade-in' : fadeInUmi}"
			 ng-hide="!data.htmlContent">
			<header class="voting flex center-horizontally">
				<!--@FIXME This should only be displayed if a user is signed in!!-->
				<ul class="flex align-left unstyled">
					<li class="flex center-vertically edit no-label" ng-click="" ng-show="data.creator == omUser.id"></li>
					<!--Allowing / Disallowing this will require returning user role-->
					<li class="flex center-vertically approve no-label hide" ng-click=""></li>
				</ul>

				<ul class="flex unstyled hide">
					<li class="flex center-vertically upvote no-label " ng-click=""></li>
					<li class="flex center-vertically no-icon not-clickable" ng-click="">17</li>
					<li class="flex center-vertically downvote no-label " ng-click=""></li>
				</ul>

				<ul class="flex align-right unstyled">
					<li class="flex center-vertically expand no-label" ng-class="{active: showMore}" ng-click="showMore = !showMore"></li>
				</ul>
			</header>
			<div class="content-holder">
				<div class="title flex center-vertically">
					<span class="label">{{ data.umi.umiType }}</span>
					<strong class="flex-1">{{ data.umi.title.title }}</strong>
				</div>
				<article ng-show="showMore">
					<span>Creator:</span>
					<small>{{data.creator}}</small>
					<br/>
					<span>Prerequisite Definitions:</span>
					<small ng-repeat="def in data.umi.prerequisiteDefinitions">
						<a expand-umi label="{{def.title}}" id="{{def.id}}" call="position" data="data"></a>,
					</small>
				</article>
				<article ng-hide="showMore" stop-event om-ng-bind="data.htmlContent" position="position" data="data"></article>
			</div>
		</div>

	</div>
</div>