.page-board
	//Needs major refactoring
	#board
		height: 100vh

		.row
			width: 100%
			flex: 1
			display: flex

			.column
				position: relative
				display: flex
				flex-direction: column
				width: 33.333333333%
				z-index: 1 // abstract as a module
				//border-right: 1px solid $color-grey-200
				//border-bottom: 1px solid $color-grey-200

				&:last-of-type
					border-right: 0 !important

			&:last-of-type
				.column
					border-bottom: 0 !important

	footer
		display: none

	&.dark
		#board
			.row
				.column
					//border-right: 1px solid $color-grey-800
					//border-bottom: 1px solid $color-grey-800

		.timeline
			border-top: 1px solid $color-grey-800

			&:before
				background: $color-grey-800

			article
				img
					border-color: $color-black

				small
					color: $color-grey-700