.page-board
	.content-center-center
		display: flex
		align-items: center
		justify-content: center
		flex-direction: column

		.row
			width: 100%
			flex: 1
			display: flex

			.column
				display: flex
				flex-direction: column
				width: 33.333333333%
				border-right: 1px solid $color-grey-200
				border-bottom: 1px solid $color-grey-200

				&:last-of-type
					border-right: 0

			&:last-of-type
				.column
					border-bottom: 0 !important

	footer
		display: none

	&.dark
		.content-center-center
			.row
				.column
					border-right: 1px solid $color-grey-800
					border-bottom: 1px solid $color-grey-800