.page-contribute
	footer
		position: relative
		margin-top: $double-unit-layout

	aside
		padding: $double-unit-layout

		.umi-preview-holder
			.umi
				max-width: 80%

form

	label
		margin: $half-unit-layout 0 $base-unit-layout
		position: relative

		&.button-holder
			margin: $base-unit-layout 0

		.error-message
			cursor: help
			position: absolute
			width: $base-unit-layout
			height: $base-unit-layout
			top: 50%
			right: -($double-half-unit-layout)
			margin: -($half-unit-layout) 0 0

			small
				+border-radius(100%)
				@extend .text-center

				line-height: $base-unit-layout
				background: $color-alert-error
				width: $base-unit-layout
				height: $base-unit-layout
				display: block
				overflow: hidden
				color: white

		input, select, textarea
			margin: 0

		p
			@extend .flex
			@extend .center-vertically

			margin: 0
			font-weight: 700
			position: relative
			margin-right: $base-unit-layout

			small
				+transition(opacity .25s)

				@extend .flex
				@extend .center-vertically

				opacity: 0
				width: 100%
				height: 100%
				position: absolute
				top: 0
				left: 0
				background: rgba(255,255,255,.9)
				font-weight: 500

				&.active
					opacity: 1