.page-welcome
	background:
		image: url("#{$image-base}/bg/cover-dive.jpg")
		color: #002e43
		size: cover
		repeat: no-repeat
		position: center center

	.hero
		height: 50vh
		display: flex
		align-items: center
		justify-content: center

		h1
			@extend .text-center

			text-transform: none
			color: white
			letter-spacing: 2px
			padding: $double-unit-layout

	footer
		border-top: 1px solid rgba(255,255,255,.1)
		position: fixed
		bottom: 0
		left: 0
		width: 100%
		height: $triple-unit-layout + $half-unit-layout
		display: flex
		color: rgba(255,255,255,.3)
		text-align: center
		align-items: center
		justify-content: center
		font-size: rem(12px)

		a
			color: rgba(255,255,255,.5)
			text-decoration: none

			+hover
				color: white

		span
			padding: 0 $half-unit-layout