<nav id="nav-top" class="flex center-horizontally">
	<ul id="nav" class="flex center-vertically align-left">
		<li><a id="dive" class="flex center-vertically" ng-class="{active : navDive}" href="/">Dive</a></li>
		<li><a id="board" class="flex center-vertically" ng-class="{active : navBoard}" href="/board">Board</a></li>
		<li ng-click="accessUrlUser('contribute', 'You need to be signed in to access this feature.', 'warning')"><a id="contribute" class="flex center-vertically" ng-class="{active : navContribute}">Contribute</a></li>
		<li><a id="features" class="flex center-vertically" ng-class="{active : navFeatures}" href="/features">Features</a></li>
	</ul>

	<a id="logo-nav-top" href="">
		<strong>{{ siteName }}</strong>
	</a>

	<ul id="controls" class="flex center-vertically align-right">
		<!--<li class="drop-down" ng-click="dropDownSeeAlso = !dropDownSeeAlso" ng-show="navTopControls.seeAlso && navTopControls.prerequisiteDefinitions">-->
			<!--<a id="see-also" class="flex center-vertically" href="#" ng-class="{active : dropDownSeeAlso}"></a>-->
			<!--<nav class="contextual-menu right" ng-show="dropDownSeeAlso">-->
				<!--<ul class="flex column" stop-event>-->
					<!--<li><header>See Also</header>{{ navTopControls.seeAlso }}</li>-->
					<!--<li><header>Prerequisites</header>{{ navTopControls.prerequisiteDefinitions }}</li>-->
				<!--</ul>-->
			<!--</nav>-->
		<!--</li>-->
		<li class="drop-down" ng-click="dropDownSettings = !dropDownSettings">
			<a id="settings" class="flex center-vertically" href="#" ng-class="{active : dropDownSettings}"></a>
			<nav class="contextual-menu right" ng-show="dropDownSettings">
				<ul class="flex column" stop-event>
					<li><header>Theme</header><strong ng-click="setTheme('light')" ng-class="{selected : themeClass == 'light'}">Light</strong> &bull; <strong ng-click="setTheme('dark')" ng-class="{selected : themeClass == 'dark'}">Dark</strong></li>
					<li><header class="item-heading">Definition Font</header><strong ng-click="setUmiFont('umi-font-modern')" ng-class="{selected : umiFontClass == 'umi-font-modern'}">Modern</strong> &bull; <strong ng-click="setUmiFont('umi-font-traditional')" ng-class="{selected : umiFontClass == 'umi-font-traditional'}">Traditional</strong></li>
				</ul>
			</nav>
		</li>
		<li class="drop-down" ng-click="googleSignIn()">
			<a id="user" class="flex center-vertically" href="#" ng-class="{logged : omUser}">
				<span ng-show="omUser" class="om-user-image" style="background-image: url('{{ omUser.picture }}')" ng-click="dropDownUser = !dropDownUser"></span>
			</a>

			<nav class="contextual-menu right" ng-show="dropDownUser">
				<ul class="flex column" stop-event>
					<li><header class="item-heading">Account Actions</header><strong ng-click="googleSignOut(); dropDownUser = false;">Sign Out</strong></li>
				</ul>
			</nav>
		</li>
	</ul>
</nav>