<nav id="nav-top" class="flex center-horizontally">
	<ul id="nav" class="flex center-vertically align-left">
		<li><a id="board" class="flex center-vertically" ng-class="{active : navBoard}" href="/">Board</a></li>
		<li><a id="contribute" class="flex center-vertically" ng-class="{active : navContribute}" href="/contribute">Contribute</a></li>
		<li><a id="buzz" class="flex center-vertically" ng-class="{active : navBuzz}" href="/buzz">Buzz</a></li>
		<li><a id="features" class="flex center-vertically" ng-class="{active : navFeatures}" href="/features">Features</a></li>
	</ul>

	<a id="logo-nav-top" href="">
		<strong>{{ siteName }}</strong>
	</a>

	<ul id="controls" class="flex center-vertically align-right">
		<li><a id="settings" class="flex center-vertically" href="/"></a></li>
	</ul>
</nav>