<nav id="nav-main">
	<a href="" id="logo-nav">
		<h1>{{ siteName }}</h1>
	</a>

	<ul>
		<li id="search" class="active"><a href="/"><small>Home</small></a></li>
		<li id="add-umi"><a href="/editor"><small>Add a new UMI</small></a></li>
		<li id="about-us"><a href="/"><small>About us</small></a></li>
	</ul>

	<!--Change this to a different structure?-->
	<div id="toggle-full-size-nav">
		<div></div>
		<div></div>
		<div></div>
	</div>

	<i id="theme-switch"></i>
</nav>

<div class="content-center-center">
	<div class="row" data-row="1">
		<div class="column" data-column="1"></div>
		<div class="column" data-column="2"></div>
		<div class="column" data-column="3"></div>
	</div>
	<div class="row" data-row="2">
		<div class="column" data-column="1"></div>
		<div class="column" data-column="2">
			<div class="umi">
				<div class="content-holder">
				<div class="title">
					<label class="proof">Proof</label>
					<strong>Pythagorean Proof</strong>
				</div>
				<article>
					<div class="content">
					<p>States that the square of the
						<strong data-id="2">
							<i class="expand expand-down"></i>
							<i class="expand expand-up"></i>
							<i class="expand expand-left"></i>
							<i class="expand expand-right"></i>
							hypotenuse</strong>
						is equal to the sum of the
						squares of the other two sides.</p>
					<em>$a^2 + b^2 = c^2$</em>
					</div>
				</article>
				</div>
				<div class="footer"><strong>See also:</strong> Pythagorean
					proof,
					Incommeasureable lengths, Complex numbers
				</div>
			</div>
		</div>
		<div class="column" data-column="3"></div>
	</div>
	<div class="row" data-row="3">
		<div class="column" data-column="1"></div>
		<div class="column" data-column="2"></div>
		<div class="column" data-column="3"></div>
	</div>
</div>