<div class="content-center-center dark">
	<div class="umi">
		<div class="title">
			<strong>Pythagorean Theorem</strong>
			<!--<label class="theorem">Theorem</label>-->
		</div>
		<article>
			<p>States that the square of the <strong><span class="expand-down"></span><span class="expand-up"></span><span class="expand-left"></span><span class="expand-right"></span>hypotenuse</strong> is equal to the sum of the
			squares of the other two sides. The theorem can be written as an
			equation relating the lengths of the sides $a$, $b$ and $c$, often
			called the "Pythagorean equation":</p>
			<em>$a^2 + b^2 = c^2$</em>
		</article>
		<div class="footer"><strong>See also:</strong> Pythagorean proof, Incommeasureable lengths, Complex numbers</div>
	</div>
</div>