<!--Top navigation-->
<div nav-top></div>
<!--Top navigation-->

<nav class="progress">
	<ul id="nav" class="flex center-horizontally center-vertically align-left">
		<li ng-repeat="key in stepsKeys"><span id="{{ key }}" class="flex center-vertically" ng-class="{active : step == key}">{{ steps[key] }}</span></li>
	</ul>
</nav>

<article>
	<header class="container-narrow">
		<h2 ng-hide="editUmiData">Contributing as {{ omUser.email }}</h2>
		<h2 ng-show="editUmiData">Editing: <strong>{{ editUmiData.title.title }}</strong></h2>

		<p>Please note that our editor features an automatic checker, as well as
			interactive guidance throughout the whole process of filling out
			this form.</p>
	</header>

	<form name="umiContributeForm" ng-submit="createUmi()">
		<!--Type-->
		<div class="container-narrow">
			<div class="alert error">{{ errorMessages.required }}</div>
			<label for="type" class="flex">
				<p class="flex-2">
					Type
					<small ng-class="{active : showInstructions == 'type'}">{{ instructions.type }}
					</small>
				</p>
				<div class="flex-7">
					<select ng-focus="showInstructions = 'type'"
							ng-options="type as type.label for type in umiTypes track by type.id"
							ng-model="createUmiForm.type"
							name="type" required>
						<option value="">Select Type</option>
					</select>
				</div>

				<!--Error messages for Type-->
				<div class="error-message">
					<small ng-show="umiContributeForm.type.$error.required"
						   title="{{ errorMessages.required }}"></small>
				</div>
			</label>

			<!--Title-->
			<label for="title" class="flex">
				<p class="flex-2">
					Title
					<small ng-class="{active : showInstructions == 'title'}">{{ instructions.title }}
					</small>
				</p>
				<div class="flex-7">
					<input ng-focus="showInstructions = 'title'"
					   ng-pattern="/^(?=.*[^\W\'_-])[\w\' -]*$/" ng-model="createUmiForm.title"
					   ng-maxlength="128" type="text" name="title"
					   placeholder="Title"
					   required>
				</div>

				<!--Error messages for Title-->
				<div class="error-message">
					<small ng-show="umiContributeForm.title.$error.required"
						   title="{{ errorMessages.required }}"></small>
					<small ng-show="umiContributeForm.title.$error.maxlength"
						   title="{{ errorMessages.maxLength }}"></small>
					<small ng-show="umiContributeForm.title.$error.pattern"
						   title="{{ errorMessages.umiTitle }}"></small>
				</div>
			</label>

			<!--Title Synonyms-->
			<label for="titleSynonyms" class="flex flex-item">
				<p class="flex-2">
					Title Synonyms
					<small ng-class="{active : showInstructions == 'titleSynonyms'}">{{ instructions.titleSynonyms }}
					</small>
				</p>
				<div class="flex-7">
					<input ng-focus="showInstructions = 'titleSynonyms'"
					   ng-model="createUmiForm.titleSynonyms" ng-maxlength="128"
					   type="text"
					   name="titleSynonyms"
					   placeholder="Title Synonyms"/>
				</div>

				<!--Error messages for Synonyms-->
				<div class="error-message">
					<small ng-show="umiContributeForm.titleSynonyms.$error.maxlength"
						   title="{{ errorMessages.maxLength }}"></small>
				</div>
			</label>

			<label for="dispatchCreateUmi" class="flex button-holder">
			<!--<label for="dispatchCreateUmi" class="flex button-holder" ng-show="umiContributeForm.$valid">-->
				<p class="flex-2"></p>
				<button name="dispatchCreateUmi" ng-focus="showInstructions = false" class="button primary flex-7">Next step: <strong>Content</strong></button>
			</label>
		</div>

		<div class="flex-grid-2 hide">
			<!--LaTeX Content-->
			<label for="latexContent" class="flex flex-item">
				<div>
					<textarea ng-focus="showInstructions = 'latexContent'"
					  ng-model="createUmiForm.latexContent" name="latexContent"
					  placeholder="LaTeX content" required></textarea>
				</div>

				<!--Error messages for LaTeX Content-->
				<div class="error-message">
					<small ng-show="umiContributeForm.latexContent.$error.required"
						   title="{{ errorMessages.required }}"></small>
				</div>
			</label>

			<div class="flex-item">
				<p class="latex-content-preview" om-bind="createUmiForm.latexContent || 'LaTeX Content will be displayed here'"></p>
			</div>
		</div>

		<div class="container-narrow hide">

			<!--Prerequisite definitions-->
			<label for="prerequisiteDefinitions" class="flex flex-item">
				<p class="flex-2">
					Prerequisite definitions
					<small ng-class="{active : showInstructions == 'prerequisiteDefinitions'}">{{ instructions.prerequisiteDefinitions }}
					</small>
				</p>
				<div class="flex-7" ng-controller="SearchController">
					<input ng-focus="$parent.showInstructions = 'prerequisiteDefinitions'"
						   ng-model="createUmiForm.prerequisiteDefinitions" ng-maxlength="128"
						   type="text"
						   name="prerequisiteDefinitions"
						   ng-change="search('createUmiForm.prerequisiteDefinitions', true)"
						   ng-keydown="searchResultsNavigate(searchResults, $event)"
						   placeholder="Prerequisite definitions"/>

					<div class="search-results" ng-show="showAutocomplete">
						<span ng-click="autocomplete('prerequisiteDefinitions', $index)" ng-repeat="result in searchResults.data" ng-class="{active : $index == searchResults.currentSelection}">{{result.title}}</span>
					</div>

					<div class="added-titles flex wrap" ng-show="autocompleteData.prerequisiteDefinitions">
						<span class="label" ng-repeat="(id, title) in autocompleteData.prerequisiteDefinitions">{{title}}<small class="flex center-horizontally center-vertically" ng-click="removeUmiId('prerequisiteDefinitions', id)">&times;</small></span>
					</div>
				</div>

				<!--Error messages for Prerequisite definitions-->
				<div class="error-message">
					<small ng-show="umiContributeForm.prerequisiteDefinitions.$error.maxlength"
						   title="{{ errorMessages.maxLength }}"></small>
				</div>
			</label>

			<!--See also-->
			<label for="seeAlso" class="flex flex-item">
				<p class="flex-2">
					See also
					<small ng-class="{active : showInstructions == 'seeAlso'}">{{ instructions.seeAlso }}
					</small>
				</p>

				<div class="flex-7" ng-controller="SearchController">
					<input ng-focus="$parent.showInstructions = 'seeAlso'" ng-model="createUmiForm.seeAlso"
						   ng-maxlength="128" type="text"
						   name="seeAlso"
						   ng-change="search('createUmiForm.seeAlso', true)"
						   ng-keydown="searchResultsNavigate(searchResults, $event)"
						   placeholder="See also"/>

					<div class="search-results" ng-show="showAutocomplete">
						<span ng-click="autocomplete('seeAlso', $index)" ng-repeat="result in searchResults.data" ng-class="{active : $index == searchResults.currentSelection}">{{result.title}}</span>
					</div>

					<div class="added-titles flex wrap" ng-show="$parent.autocompleteData.seeAlso">
						<span class="label" ng-repeat="(id, title) in $parent.autocompleteData.seeAlso">{{title}}<small class="flex center-horizontally center-vertically" ng-click="removeUmiId('seeAlso', id)">&times;</small></span>
					</div>
				</div>

				<!--Error messages for See also-->
				<div class="error-message">
					<small ng-show="umiContributeForm.seeAlso.$error.maxlength"
						   title="{{ errorMessages.maxLength }}"></small>
				</div>
			</label>

			<!--Tags-->
			<label for="tags" class="flex flex-item">
				<p class="flex-2">
					Tags
					<small ng-class="{active : showInstructions == 'tags'}">{{ instructions.tags }}
					</small>
				</p>

				<div class="flex-7">
					<input ng-focus="showInstructions = 'tags'" ng-model="createUmiForm.tags"
						   ng-maxlength="128" type="text" name="tags"
						   placeholder="Tags"/>
				</div>

				<!--Error messages for Tags-->
				<div class="error-message">
					<small ng-show="umiContributeForm.tags.$error.maxlength"
						   title="{{ errorMessages.maxLength }}"></small>
				</div>
			</label>

		</div>


		<label for="dispatchCreateUmi" class="flex button-holder"
			   ng-show="umiContributeForm.$valid">
			<p class="flex-2"></p>
			<button name="dispatchCreateUmi" ng-focus="showInstructions = false"
					class="button primary flex-7">Submit
			</button>
		</label>
	</form>
</article>

	<aside class="flex-5 flex column hide">
		<header>
			<h2>Live preview</h2>
			<p>This is what your contribution will look like as a single unit.</p>
		</header>

		<div class="umi-preview-holder flex-1 flex center-vertically center-horizontally">
			<div class="umi fade-in">
				<div class="content-holder">
					<div class="title flex center-vertically">
						<label
							ng-bind="createUmiForm.type.label || 'Contribution type'"></label>
						<strong class="flex-1"
								ng-bind="createUmiForm.title || 'Contribution Title'"></strong>
					</div>
					<article><p om-bind="createUmiForm.latexContent || 'LaTeX Content will be displayed
						here'"></p></article>
				</div>
			</div>
		</div>
	</aside>
</div>
