<div notification></div>

<!--Top navigation-->
<div nav-top></div>
<!--Top navigation-->

<div class="flex">
	<aside class="flex-6">
		<header>
			<h2 ng-hide="editUmiData">Contributing as {{ omUser.email }}</h2>
			<h2 ng-show="editUmiData">Editing: <strong>{{ editUmiData.title.title }}</strong></h2>

			<p>Please note that our editor features an automatic checker, as well as
				interactive guidance throughout the whole process of filling out
				this form.</p>
		</header>

		<form name="umiContributeForm" class="flex-1 flex column" ng-submit="createUmi()">
			<!--Type-->
			<label for="type" class="flex">
				<p class="flex-2">
					Type
					<small ng-class="{active : showInstructions == 'type'}">{{ instructions.type
						}}
					</small>
				</p>
				<div class="flex-7">
					<select ng-focus="showInstructions = 'type'"
							ng-options="type as type.label for type in umiTypes track by type.id"
							ng-model="createUmiForm.type"
							name="type" required>
						<option value="">Select Type</option>
					</select>
				</div>

				<!--Error messages for Type-->
				<div class="error-message">
					<small ng-show="umiContributeForm.type.$error.required"
						   title="{{ errorMessages.required }}"></small>
				</div>
			</label>

			<!--Title-->
			<label for="title" class="flex">
				<p class="flex-2">
					Title
					<small ng-class="{active : showInstructions == 'title'}">{{ instructions.title
						}}
					</small>
				</p>
				<div class="flex-7">
					<input ng-focus="showInstructions = 'title'"
					   ng-pattern="/^(?=.*[^\W\'_-])[\w\' -]*$/" ng-model="createUmiForm.title"
					   ng-maxlength="128" type="text" name="title"
					   placeholder="Title"
					   required>
				</div>

				<!--Error messages for Title-->
				<div class="error-message">
					<small ng-show="umiContributeForm.title.$error.required"
						   title="{{ errorMessages.required }}"></small>
					<small ng-show="umiContributeForm.title.$error.maxlength"
						   title="{{ errorMessages.maxLength }}"></small>
					<small ng-show="umiContributeForm.title.$error.pattern"
						   title="{{ errorMessages.umiTitle }}"></small>
				</div>
			</label>

			<!--Title Synonyms-->
			<label for="titleSynonyms" class="flex">
				<p class="flex-2">
					Title Synonyms
					<small ng-class="{active : showInstructions == 'titleSynonyms'}">{{
						instructions.titleSynonyms }}
					</small>
				</p>
				<div class="flex-7">
					<input ng-focus="showInstructions = 'titleSynonyms'"
					   ng-model="createUmiForm.titleSynonyms" ng-maxlength="128"
					   type="text"
					   name="titleSynonyms"
					   placeholder="Title Synonyms"/>
				</div>

				<!--Error messages for Synonyms-->
				<div class="error-message">
					<small ng-show="umiContributeForm.titleSynonyms.$error.maxlength"
						   title="{{ errorMessages.maxLength }}"></small>
				</div>
			</label>

			<!--LaTeX Content-->
			<label for="latexContent" class="flex">
				<p class="flex-2">
					LaTeX content
					<small ng-class="{active : showInstructions == 'latexContent'}">{{
						instructions.latexContent }}
					</small>
				</p>
				<div class="flex-7">
					<textarea ng-focus="showInstructions = 'latexContent'"
						  ng-model="createUmiForm.latexContent" name="latexContent"
						  placeholder="LaTeX content" required></textarea>
				</div>

				<!--Error messages for LaTeX Content-->
				<div class="error-message">
					<small ng-show="umiContributeForm.latexContent.$error.required"
						   title="{{ errorMessages.required }}"></small>
				</div>
			</label>

			<!--Prerequisite definitions-->
			<label for="prerequisiteDefinitions" class="flex">
				<p class="flex-2">
					Prerequisite definitions
					<small ng-class="{active : showInstructions == 'prerequisiteDefinitions'}">{{
						instructions.prerequisiteDefinitions }}
					</small>
				</p>
				<div class="flex-7">
					<input ng-focus="showInstructions = 'prerequisiteDefinitions'"
						   ng-model="createUmiForm.prerequisiteDefinitions" ng-maxlength="128"
						   type="text"
						   name="prerequisiteDefinitions"
						   ng-change="search('prerequisiteDefinitions')"
						   ng-keydown="searchResultsNavigate(searchResults['prerequisiteDefinitions'], $event)"
						   placeholder="Prerequisite definitions"/>

					<div class="search-results" ng-show="showSearchResults == 'prerequisiteDefinitions'">
						<span ng-click="assignUmiId('prerequisiteDefinitions', $index)" ng-repeat="result in searchResults.prerequisiteDefinitions.data" ng-class="{active : $index == searchResults.prerequisiteDefinitions.currentSelection}">{{result.title}}</span>
					</div>

					<div class="added-titles flex wrap" ng-show="assignDataAll.prerequisiteDefinitions">
						<span class="label" ng-repeat="(id, title) in assignDataAll.prerequisiteDefinitions">{{title}}<small class="flex center-horizontally center-vertically" ng-click="removeUmiId('prerequisiteDefinitions', id)">&times;</small></span>
					</div>
				</div>

				<!--Error messages for Prerequisite definitions-->
				<div class="error-message">
					<small ng-show="umiContributeForm.prerequisiteDefinitions.$error.maxlength"
						   title="{{ errorMessages.maxLength }}"></small>
				</div>
			</label>

			<!--See also-->
			<label for="seeAlso" class="flex">
				<p class="flex-2">
					See also
					<small ng-class="{active : showInstructions == 'seeAlso'}">{{
						instructions.seeAlso }}
					</small>
				</p>

				<div class="flex-7">
					<input ng-focus="showInstructions = 'seeAlso'" ng-model="createUmiForm.seeAlso"
						   ng-maxlength="128" type="text"
						   name="seeAlso"
						   ng-change="search('seeAlso')"
						   ng-keydown="searchResultsNavigate(searchResults['seeAlso'], $event)"
						   placeholder="See also"/>

					<div class="search-results" ng-show="showSearchResults == 'seeAlso'">
						<span ng-click="assignUmiId('seeAlso', $index)" ng-repeat="result in searchResults.seeAlso.data" ng-class="{active : $index == searchResults.seeAlso.currentSelection}">{{result.title}} - {{result.id}}</span>
					</div>

					<div class="added-titles flex wrap" ng-show="assignDataAll.seeAlso">
						<span class="label" ng-repeat="(id, title) in assignDataAll.seeAlso">{{title}}<small ng-click="removeUmiId('seeAlso', id)">&times;</small></span>
					</div>
				</div>

				<!--Error messages for See also-->
				<div class="error-message">
					<small ng-show="umiContributeForm.seeAlso.$error.maxlength"
						   title="{{ errorMessages.maxLength }}"></small>
				</div>
			</label>

			<!--Tags-->
			<label for="tags" class="flex">
				<p class="flex-2">
					Tags
					<small ng-class="{active : showInstructions == 'tags'}">{{ instructions.tags
						}}
					</small>
				</p>

				<div class="flex-7">
					<input ng-focus="showInstructions = 'tags'" ng-model="createUmiForm.tags"
					   ng-maxlength="128" type="text" name="tags"
					   placeholder="Tags"/>
				</div>

				<!--Error messages for Tags-->
				<div class="error-message">
					<small ng-show="umiContributeForm.tags.$error.maxlength"
						   title="{{ errorMessages.maxLength }}"></small>
				</div>
			</label>

			<label for="dispatchCreateUmi" class="flex button-holder"
				   ng-show="umiContributeForm.$valid">
				<p class="flex-2">
					<!--<small class="active">{{ instructions.dispatch }}</small>-->
				</p>
				<button name="dispatchCreateUmi" ng-focus="showInstructions = false"
						class="button primary flex-7">Submit
				</button>
			</label>
		</form>
	</aside>

	<aside class="flex-5 flex column">
		<header>
			<h2>Live preview</h2>
			<p>This is what your contribution will look like as a single unit.</p>
		</header>

		<div class="umi-preview-holder flex-1 flex center-vertically center-horizontally">
			<div class="umi fade-in">
				<div class="content-holder">
					<div class="title flex center-vertically">
						<label
							ng-bind="createUmiForm.type.label || 'Contribution type'"></label>
						<strong class="flex-1"
								ng-bind="createUmiForm.title || 'Contribution Title'"></strong>
					</div>
					<article><p om-bind="createUmiForm.latexContent">LaTeX Content will be displayed
						here.</p></article>
				</div>
			</div>
		</div>
	</aside>
</div>
