<header class="master-hero flex column">
	<div nav-top></div>

	<div class="flex-1 flex center-horizontally center-vertically">
		<h2>Mathematics.<strong>Understandable.</strong></h2>
	</div>
</header>

<div class="container-narrow">
	<h2>Features</h2>
	<p>We are building the ultimate mathematical tool, that features a dynamic user controlled view, requires ultra easy input, has integrated development environment, is collaborative, and completely open and free.</p>

	<h3>The Board</h3>
	<p>The Board lets you dive into whatever you choose to discover, without the need to expand anything into tabs.</p>
	<p>A traditional (wiki) approach is that when you search for a definition or a word, you are presented with long articles, which are often very hard to read, overly verbose and incomprehensible. What is more, once you click on any definition or any word that you do not understand or want to learn more about, a new tab opens up each time. This leads to a very disordered education model indeed, as well as it makes tying individual threads of knowledge very complicated and inconsistent.</p>
	<p>We feel that this approach is far from good, and thus we are trying to present users with a much more comprehensible and scalable education model.</p>
</div>