.page-dive
	#masthead
		height: 100vh
		background:
			image: url("#{$image-base}/bg/cover-dive-new.jpg")
			color: #002e43
			size: 100% auto
			repeat: no-repeat
			position: center 0%

		#search-umi
			input
				+placeholder
					color: rgba(255,255,255,.25)

				padding: $base-unit-layout $double-unit-layout
				text-align: center
				color: white
				margin: 0
				width: 100%
				font:
					size: rem(60px)

			.search-umi-results
				+transition(height .25s)

				height: auto
				max-width: rem(600px)
				margin: $double-unit-layout 0
				max-height: $double-unit-layout * 10
				overflow-y: scroll

				.item
					+transition(color .25s)

					color: rgba(255,255,255,.5)
					padding: $base-unit-layout 0
					cursor: pointer
					font:
						size: rem(20px)

					&.active,
					&:hover,
					&:focus
						color: white

						.score
							color: white

							.bar
								background: rgba(255,255,255,.5)

								.progress
									background: white

					.title
						+ellipsis(70%)

						text-indent: 1px
						margin-right: $double-unit-layout

					.score
						@extend .text-center
						+transition(color .25s)

						margin: 0 0 0 auto
						width: 25%
						color: rgba(255,255,255,.5)
						font:
							size: rem(12px)

						.bar
							+transition(background .25s)
							+border-radius($border-radius)

							//margin-top: $half-unit-layout
							width: 100%
							height: 4px
							background: rgba(255,255,255,.25)

							.progress
								+transition(background .25s)
								+border-radius($border-radius)

								background: rgba(255,255,255,.25)
								height: 100%