.page-is
	header
		height: 100%
		height: 100vh
		background:
			image: url("#{$image-base}/bg/cover-dive-new.jpg")
			color: #002e43
			size: 100% auto
			repeat: no-repeat
			position: center 0%

	article
		background: white