.page-contribute
	.progress
		background: $color-grey-100
		height: $quadruple-unit-layout
		border-bottom: 1px solid $color-grey-200

		ul
			@extend .unstyled

			height: 100%

			li
				padding: 0 $half-unit-layout
				height: 100%
				font:
					size: rem(12px)

				span
					height: 100%
					position: relative
					padding: 0 0 0 ($double-unit-layout + $quarter-unit-layout)
					color: $color-grey
					text-decoration: none

					&.active
						color: $color-black

					&:before
						content: ""
						width: $double-unit-layout
						height: $double-unit-layout
						display: block
						position: absolute
						left: 0
						top: 50%
						margin: -($double-unit-layout / 2) 0 0
						background:
							size: 150%
							repeat: no-repeat
							position: center center
							color: transparent

					&#basic-settings
						&:before
							background:
								image: url("#{$image-base}/icons/icon-set/icon-set_gear-grey.svg")

						&.active
							&:before
								background:
									image: url("#{$image-base}/icons/icon-set/icon-set_gear.svg")

					&#editor
						&:before
							background:
								image: url("#{$image-base}/icons/icon-set/icon-set_editor-grey.svg")

						&.active
							&:before
								background:
									image: url("#{$image-base}/icons/icon-set/icon-set_editor.svg")

					&#additional-settings
						&:before
							background:
								image: url("#{$image-base}/icons/icon-set/icon-set_see-more-grey.svg")

						&.active
							&:before
								background:
									image: url("#{$image-base}/icons/icon-set/icon-set_see-more.svg")

					&#preview-and-publish
						&:before
							background:
								image: url("#{$image-base}/icons/icon-set/icon-set_tick-grey.svg")

						&.active
							&:before
								background:
									image: url("#{$image-base}/icons/icon-set/icon-set_tick.svg")

	footer
		margin-top: $double-unit-layout
		position: relative

	article
		padding: $double-unit-layout 0

		.container-narrow
			max-width: rem(700px)
		
		.umi-preview-holder
			.umi
				max-width: 90%
				height: rem(220px)

		header
			padding: 0 0 $double-unit-layout

			h2
				margin-top: 0
				font-size: rem(20px)

			p
				font-size: rem(14px)
				color: $color-grey-700

		form
			.latex-content-preview
				padding: $base-unit-layout

			label
				margin: $half-unit-layout 0 $base-unit-layout
				position: relative

				&.button-holder
					margin: $base-unit-layout 0

				> div
					position: relative

					input,
					select,
					textarea
						width: 100%

					.added-titles
						padding: $half-unit-layout 0 0

						.label
							margin: 0 $quarter-unit-layout $half-unit-layout 0
							border-color: $color-black
							color: $color-black
							position: relative
							padding-right: $base-unit-layout + rem(2px)

							small
								+transition(color .25s)

								width: $base-unit-layout
								height: $base-unit-layout
								position: absolute
								top: 50%
								right: rem(2px)
								margin-top: -($half-unit-layout + rem(1px))
								cursor: pointer
								font:
									size: rem(14px)
									weight: 700

								+hover
									color: $color-alert-error

					.search-results
						+border-radius(0 0 4px 4px)
						+z-index(search-results-contribute)

						border: 1px solid $color-grey-300
						border-top: 0
						position: absolute
						width: 100%
						top: $double-unit-layout + $half-unit-layout + rem(2px)
						margin-top: -2px
						left: 0
						background: rgba(255,255,255,.9)
						//color: white
						padding: 0
						cursor: pointer
						max-height: 4 * $double-unit-layout
						overflow-y: scroll

						> span
							display: block
							padding: $base-unit-layout

							&.active,
							&:hover,
							&:focus
								font-weight: 700
								background: $color-grey-100

				.error-message
					cursor: help
					position: absolute
					width: $half-unit-layout
					height: $half-unit-layout
					top: 50%
					right: -($base-unit-layout)
					margin: -($quarter-unit-layout) 0 0

					small
						+border-radius(100%)

						background: $color-alert-error
						width: $half-unit-layout
						height: $half-unit-layout
						display: block
						overflow: hidden
						color: white

				input, select, textarea
					margin: 0
					font-size: rem(15px)

				textarea
					line-height: 1.65
					min-height: rem(150px)

				p
					@extend .flex
					@extend .center-vertically

					margin: 0
					position: relative
					margin-right: $base-unit-layout

					small
						+transition(opacity .25s)

						@extend .flex
						@extend .center-vertically

						opacity: 0
						width: 100%
						height: 100%
						position: absolute
						top: 0
						left: 0
						background: rgba(255,255,255,.9)

						&.active
							opacity: 1

	&.dark
		.progress
			background: transparent
			border-bottom-color: $color-grey-800

			ul
				li
					span
						color: $color-grey-500

						&.active
							color: white

						&#basic-settings
							&:before
								background:
									image: url("#{$image-base}/icons/icon-set/icon-set_gear-dark.svg")

							&.active
								&:before
									background:
										image: url("#{$image-base}/icons/icon-set/icon-set_gear-white.svg")

						&#editor
							&:before
								background:
									image: url("#{$image-base}/icons/icon-set/icon-set_editor-dark.svg")

							&.active
								&:before
									background:
										image: url("#{$image-base}/icons/icon-set/icon-set_editor-white.svg")

						&#additional-settings
							&:before
								background:
									image: url("#{$image-base}/icons/icon-set/icon-set_see-more-dark.svg")

							&.active
								&:before
									background:
										image: url("#{$image-base}/icons/icon-set/icon-set_see-more-white.svg")

						&#preview-and-publish
							&:before
								background:
									image: url("#{$image-base}/icons/icon-set/icon-set_tick-dark.svg")

							&.active
								&:before
									background:
										image: url("#{$image-base}/icons/icon-set/icon-set_tick-white.svg")

		article
			form
				label
					p
						small
							background: $color-black

					> div
						.added-titles
							.label
								border-color: $color-grey-500
								color: $color-grey-500

						.search-results
							border-color: $color-grey-700
							background: rgba(27,36,36,.85)

							> span
								&.active,
								&:hover,
								&:focus
									background: darken($color-grey-800, 10%)