.page-board
	.row
		width: 100%
		flex: 1
		display: flex
		position: relative
		min-height: rem(220px)

		.resize-row
			+z-index(resize-row)

			position: absolute
			left: 0
			bottom: -($half-unit-layout)
			width: 100%
			height: $base-unit-layout
			cursor: row-resize !important

		.column
			+z-index(column)

			position: relative
			display: flex
			flex-direction: column
			border-right: 1px solid $color-grey-200
			border-bottom: 1px solid $color-grey-200

			&:last-of-type
				border-right: 0 !important

		&:last-of-type
			.column
				border-bottom: 0 !important

	&.dark
		.row
			.column
				border-right: 1px solid $color-grey-800
				border-bottom: 1px solid $color-grey-800