.button, button
	@extend .text-uppercase
	+border-radius(4px)

	background: white
	text-decoration: none
	padding: $double-half-unit-layout $double-half-unit-layout ($double-half-unit-layout - rem(2px))
	cursor: pointer
	border-color: $color-grey-200
	color: $color-grey-300
	min-width: inherit
	border:
		width: 1px
		style: solid

	+hover()
		border-color: $color-grey-300
		color: $color-grey-300

	&:active
		border-color: $color-grey-500
		color: $color-grey-500

	&.primary
		border-color: $color-red
		color: $color-red

		+hover
			border-color: $color-red-600
			color: $color-red-600

		&:active
			border-color: $color-red-700
			color: $color-red-700

	&.secondary
		border-color: $color-blue
		color: $color-blue

		+hover
			border-color: $color-blue-600
			color: $color-blue-600

		&:active
			border-color: $color-blue-700
			color: $color-blue-700

	&:disabled
		border-color: $color-grey-200
		color: $color-grey-200
		cursor: not-allowed
		background: $color-grey-50

		&:hover, &:focus, &:active
			+box-shadow(none)

			border-color: $color-grey-200
			color: $color-grey-200

.dark
	.button, button
		background: transparent

		&:disabled
			border-color: $color-grey-800
			color: $color-grey-800