.onboarding-indicator
	+border-radius(100%)
	+transition(opacity .25s)

	opacity: .75
	cursor: pointer
	width: $double-half-unit-layout - rem(2px)
	height: $double-half-unit-layout - rem(2px)
	border: 1px solid $color-blue
	position: absolute
	left: 50%
	top: 50%
	margin: (-($double-half-unit-layout - rem(2px)) / 2) 0 0 (-($double-half-unit-layout - rem(2px)) / 2)

	&:before
		+border-radius(100%)

		content: ""
		color: white
		width: $half-unit-layout + rem(2px)
		height: $half-unit-layout + rem(2px)
		display: block
		background: $color-blue

	+hover
		opacity: 1

	&.top
		top: -($double-half-unit-layout - rem(2px))
		margin-top: 0

	&.bottom
		bottom: -($double-half-unit-layout - rem(2px))
		top: auto
		margin-top: 0

	&.right
		margin-left: 0
		left: auto
		right: -($double-unit-layout)

	&.left
		margin-left: 0
		left: -($double-unit-layout)

.onboarding-container
	+z-index(pop-up)
	+transition(opacity .45s)

	cursor: pointer
	opacity: 0
	background: rgba(0, 0, 0, .9)
	position: fixed
	width: 100%
	height: 100%
	height: 100vh
	left: 0
	top: 0
	overflow-y: scroll

	&.active
		opacity: 1

	.pop-up
		+border-radius($border-radius)
		@extend .text-center

		cursor: default
		padding: $double-unit-layout
		max-width: rem(500px)
		color: rgba(255, 255, 255, .8)

		.icon
			display: block
			height: $quadruple-unit-layout + $base-unit-layout
			background:
				image: url("#{$image-base}/icons/icon-set/icon-set_bulb-white.svg")
				size: auto ($quadruple-unit-layout * 2)
				repeat: no-repeat
				position: center center

			&.dive
				background:
					image: url("#{$image-base}/icons/icon-set/icon-set_dive-white.svg")

			&.contribute
				background:
					image: url("#{$image-base}/icons/icon-set/icon-set_contribute-white.svg")

			&.settings
				background:
					image: url("#{$image-base}/icons/icon-set/icon-set_gear-white.svg")

			// @NOTE I know, I know, camelCase
			&.manageBoard
				background:
					image: url("#{$image-base}/icons/icon-set/icon-set_board-white.svg")

			&.resizeBoardRows
				background:
					image: url("#{$image-base}/icons/icon-set/icon-set_expand-white.svg")

		p
			margin: $base-unit-layout 0 $double-unit-layout
			line-height: 1.85

			strong
				color: white

				&.heading
					@extend .text-uppercase

					padding-bottom: $double-half-unit-layout
					display: block
					font:
						weight: 500
						size: rem(22px)

		button
			background: transparent
			padding: $base-unit-layout $double-unit-layout
			margin: 0

			+hover
				+animation(pulse-small .5s)

.dark,
.nav-top-transparent
	.onboarding-container
		background: rgba(0, 0, 0, .65)

	&.nav-top-transparent
		.onboarding-indicator
			opacity: .65

			+hover
				opacity: 1