.umi
	$umi-side-padding: $base-unit-layout + $quarter-unit-layout

	+transition(opacity .25s) //abstract to transition duration variable
	+border-radius($border-radius)

	position: relative
	opacity: 0
	flex: 1
	display: flex
	flex-direction: column
	padding: $umi-side-padding

	&.fade-in
		opacity: 1

	&.closes-right
		border-right-color: white

		.expand-right
			display: none

	&.closes-left
		border-left-color: white

		.expand-left
			display: none

	&.closes-top
		border-top-color: white

		.expand-up
			display: none

	&.closes-bottom
		border-bottom-color: white

		.expand-down
			display: none

	+hover
		.title
			.edit,
			.full-screen
				opacity: 1

	.content-holder
		flex: 1
		display: flex
		flex-direction: column
		align-items: center
		justify-content: center
		overflow: auto

	// TEMP name
	.title
		+border-radius(4px 4px 0 0)

		width: 100%
		min-height: $double-unit-layout
		margin-bottom: $base-unit-layout
		font-size: rem(18px)
		position: relative

		strong
			+ellipsis()

			text-indent: 1px // overflow: hidden hack
			font:
				family: $font-family-secondary

		.label
			color: $color-black
			border-color: $color-black

			// TODO: explain why we offset the labels
			margin: 0 ($base-unit-layout - $quarter-unit-layout) 0 0
			font-size: rem(11px)

		.edit,
		.full-screen
			+transition(opacity .25s)

			cursor: pointer
			opacity: 0
			top: 0
			right: 0
			position: absolute
			width: $double-unit-layout
			height: $double-unit-layout
			background:
				image: url("#{$image-base}/icons/icon-set/icon-set_expand.svg")
				size: 140%
				position: center center
				repeat: no-repeat
				color: white

		.edit
			right: $double-unit-layout
			background:
				image: url("#{$image-base}/icons/icon-set/icon-set_list.svg")
				size: 150%

	article
		width: 100%

		p
			line-height: 1.75
			font:
				size: rem(14px)
				family: $font-family-secondary

			strong
				+transition(color .25s)

				color: $color-red
				position: relative
				font-weight: 300
				cursor: pointer

				&.inactive
					color: $color-black
					cursor: default

				+hover
					i
						opacity: 1

						&.expand-down
							bottom: -($double-half-unit-layout)
						&.expand-up
							top: -($double-half-unit-layout)
						&.expand-left
							left: -($double-half-unit-layout + $quarter-unit-layout)
						&.expand-right
							right: -($double-half-unit-layout + $quarter-unit-layout)


				i
					+border-radius(100%)
					+transition(all .25s)
					+z-index(umi-icon)

					position: absolute
					width: $double-half-unit-layout
					height: $double-half-unit-layout
					border: 1px solid $color-black
					background:
						color: white
						repeat: no-repeat
						position: center center
						size: 75%
					display: block
					cursor: pointer
					opacity: 0

					&.expand-down,
					&.expand-up
						left: 50%
						//height: $double-half-unit-layout + $half-unit-layout
						margin-left: -($double-half-unit-layout / 2)

					&.expand-down
						bottom: 0
						background:
							image: url("#{$image-base}/icons/expand-arrows/arrow-down-black.svg")

					&.expand-up
						top: 0
						background:
							image: url("#{$image-base}/icons/expand-arrows/arrow-up-black.svg")

					&.expand-left,
					&.expand-right
						top: 50%
						//width: $double-half-unit-layout + $half-unit-layout
						margin-top: -($double-half-unit-layout / 2)

					&.expand-left
						left: 0
						background:
							image: url("#{$image-base}/icons/expand-arrows/arrow-left-black.svg")

					&.expand-right
						right: 0
						background:
							image: url("#{$image-base}/icons/expand-arrows/arrow-right-black.svg")

	// TEMP name
	.footer
		+transition(opacity .25s)

		@extend .text-center

		display: none //TEMP SOLUTION
		padding: $half-unit-layout 0 0
		font-size: rem(10px)
		color: $color-grey-900

		// Explain the concept of why we are hiding this by default:
		// because we want a seamless transition from books, there is no
		// see also in books :)
		opacity: 0

.dark
	.umi
		.title
			color: $color-grey-500

			.edit,
			.full-screen
				background:
					image: url("#{$image-base}/icons/icon-set/icon-set_expand-dark.svg")
					color: $color-black

			.edit
				background:
					image: url("#{$image-base}/icons/icon-set/icon-set_list-dark.svg")

			.label
				color: $color-grey-500
				border-color: $color-grey-500

		article
			color: $color-grey-500

			p
				strong
					&.inactive
						color: $color-grey-500

					i
						border-color: $color-grey-500
						background:
							color: $color-black

						&.expand-down
							background:
								image: url("#{$image-base}/icons/expand-arrows/arrow-down.svg")

						&.expand-up
							background:
								image: url("#{$image-base}/icons/expand-arrows/arrow-up.svg")

						&.expand-left
							background:
								image: url("#{$image-base}/icons/expand-arrows/arrow-left.svg")

						&.expand-right
							background:
								image: url("#{$image-base}/icons/expand-arrows/arrow-right.svg")

			em
				color: $color-grey-500

.umi-font-traditional
	.umi
		article
			p
				font:
					family: "Times New Roman", Georgia, serif